.btn-container{
display: flex;
align-items: center;
border-radius: 8px;
height: 50px;
justify-content: space-around;
background-color: #CCCCCC;
}
.btn-container button{
    padding: 10px;
    background-color: rgb(18, 240, 229);
    border-radius: 15px;
    border: 1px solid white;
    color: white;
}