.cart{
width: 300px;
height: 500px;
background-color: rgb(243 243 243);
border: 1px solid #95A0A7;
border-radius: 8px;
}
.cart img{
    width: 286px;
    height: 286px;
    margin: 7px;
}
.btn{
    width: 100%;
    height: 46px;
    background-color: #Ff8ff1;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    border: 0;
    padding-top: 8px;
    bottom: 0px;
    top: 12px;
    border-radius: 0px 0px 8px 8px;
}
.btn:hover{
    background-color: white;
    color: #Ff8ff1;
}