.home-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.practise-container{
    background-color: rgb(231 219 219);
}
.practise-container h1{
    color: #87c9dd;;
    font-style: italic;
}
.practise-iteam{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.practise-time{
    background-color: aliceblue;
    position: static;
    top: 0;
    padding: 30px 20px;
}
